<div class="p-f w-100 h-100vh">
  <div class="w-750px-N450 h-750px-N450 w-300px-X450 h-450px-X450 b-we cen bor-12px bs-0_5_5__bk_30 z-2">
    <div class="p-a t-15px-N450 r-15px-N450 t-6px-X450 r-6px-X450 z-3">
      <i class="f-45px-N450 lh-45px-N450 c-E0E0E0 f-30px-X450 lh-30px-X450 ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 pt-60px-N450 pl-124px-N450 pr-124px-N450 pb-30px-N450 pt-30px-X450 pl-22px-X450 pr-22px-X450 pb-15px-X450">
      <div class="cen-x">
        <span class="f-45px-N450 lh-55px-N450 fw-b f-24px-X450 c-BDBDBD lh-29px-X450">상담 받기</span>
      </div>
      <div class="w-100 mt-60px-N450 mt-30px-X450">
        <div class="w-243px-N450 h-50px-N450 w-120px-X450 h-30px-X450 bo-1px bo-E0E0E0" ng-repeat="(info_index, info) in infos track by info_index"
        ng-class="[{'mt-15px': info_index / 2 >= 1}, {'ml-15px': (info_index+1) % 2 != 1}]">
          <input type="{{info.input_type}}" class="w-100 h-100 f-15px-N450 lh-19px-N450 pt-15px-N450 pb-15px-N450 pl-30px-N450 pr-30px-N450 pc-E0E0E0 f-12px-X450 lh-15px-X450 pl-15px-X450 pt-7px-X450 pb-7px-X450 pr-15px-X450"
           placeholder="{{info.info}}" ng-model="counsel_model[info.model]"></input>
        </div>
        <div class="w-100 h-180px-N450 bo-1px bo-E0E0E0 mt-15px h-150px-X450">
          <textarea class="w-100 h-100 f-15px-N450 lh-19px-N450 pt-15px-N450 pb-15px-N450 pl-30px-N450 pr-30px-N450 pc-E0E0E0 f-12px-X450 lh-15px-X450 p-15px-X450" style="white-space:pre-line; resize:none;"
           placeholder="상담내용" ng-model="counsel_model.counsel"></textarea>
        </div>
        <button class="w-100 h-75px-N450 bo-1px bo-E0E0E0 mt-30px b-we b-BDBDBD-H c-BDBDBD c-we-H h-45px-X450" ng-click="saveCounsel()">
          <span class="f-24px-N450 lh-29px-N450 fw-b f-15px-X450 lh-19px-X450 cen-x">상담 신청</span>
        </button>
        <div class="w-100 mt-101px-N450 mt-15px-X450">
          <div class="cen-x">
            <span class="f-24px-N450 lh-29px-N450 c-BDBDBD f-12px-X450 lh-15px-X450">{{contact.name}}</span>
            <span class="f-24px-N450 lh-29px-N450 ml-15px-N450 c-BDBDBD fw-b f-12px-X450 lh-15px-X450 ml-9px-X450">{{contact.tel}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-a w-100 h-100vh b-bk z-1 o-75">
  </div>
</div>
