<div class="p-f w-100 h-100vh">
  <!-- WEB -->
  <div class="w-750px h-750px b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-X1058">
    <div class="p-a t-15px r-15px z-3">
      <i class="f-45px lh-45px c-E0E0E0 ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 pt-60px pl-124px pr-124px pb-30px">
      <div class="cen-x">
        <span class="f-45px lh-55px c-BDBDBD fw-b">제작 하기</span>
      </div>
      <div class="w-100 h-36px mt-60px">
        <div class="w-36px h-100 bo-1px bor-100 bo-E0E0E0">
          <span class="f-18px lh-21px c-E0E0E0 cen">1</span>
        </div>
        <div class="w-100_51px h-100 ml-15px">
          <span class="f-24px lh-29px c-BDBDBD fw-b cen-y">정보입력</span>
        </div>
      </div>
      <div class="w-100 mt-30px">
        <div class="w-243px h-50px bo-1px bo-E0E0E0" ng-repeat="(info_index, info) in infos track by info_index"
        ng-class="[{'mt-15px': info_index / 2 >= 1}, {'ml-15px': (info_index+1) % 2 != 1}]">
          <input type="{{info.input_type}}" class="w-100 h-100 f-15px lh-19px pt-15px pb-15px pl-30px pr-30px pc-E0E0E0"
          placeholder="{{info.info}}" ng-model="payment_model[info.model]"></input>
        </div>
        <div class="w-100 h-36px mt-30px">
          <div class="w-36px w-24px h-100 bo-1px bor-100 bo-E0E0E0">
            <span class="f-18px lh-21px c-E0E0E0 cen">2</span>
          </div>
          <div class="w-100_51px h-100 ml-15px">
            <span class="f-24px lh-29px c-BDBDBD fw-b cen-y">결제</span>
          </div>
        </div>
        <div class="w-100 mt-30px">
          <span class="f-24px lh-29px c-BDBDBD">{{payment.ment}}</span>
        </div>
        <button class="w-100 h-75px bo-1px mt-30px b-we b-BDBDBD-H c-BDBDBD c-we-H" ng-click="savePayment()">
          <span class="f-24px lh-29px fw-b cen-x">입금 완료</span>
        </button>
      </div>
      <div class="w-100 mt-65px">
        <div class="w-50" ng-repeat="(contact_index, contact) in contacts track by contact_index">
          <div class="w-36px">
            <i class="f-36px lh-36px c-9E9E9E {{contact.icon}}"></i>
          </div>
          <div class="w-100_36px pl-21px">
            <span class="w-100 f-12px lh-15px c-BDBDBD o-50">{{contact.text_en}}</span>
            <span class="w-100 f-18px lh-21px c-BDBDBD fw-b">{{contact.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TABLET -->
  <div class="w-750pxM0o64 h-750pxM0o64 b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-X671 d-n-N1058">
    <div class="p-a t-12px r-12px z-3">
      <i class="f-36px lh-36px c-E0E0E0 ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 pt-30px pl-45px pr-45px">
      <div class="cen-x">
        <span class="f-30px c-BDBDBD fw-b">제작 하기</span>
      </div>
      <div class="w-100 h-24px mt-30px">
        <div class="w-24px h-100 bo-1px bor-100 bo-E0E0E0">
          <span class="f-12px lh-13px c-E0E0E0 cen">1</span>
        </div>
        <div class="w-100_51px h-100 ml-15px">
          <span class="f-15px lh-19px c-BDBDBD fw-b cen-y">정보입력</span>
        </div>
      </div>
      <div class="w-100 mt-18px">
        <div class="w-187px h-45px bo-1px bo-E0E0E0" ng-repeat="(info_index, info) in infos track by info_index"
        ng-class="[{'mt-15px': info_index / 2 >= 1}, {'ml-15px': (info_index+1) % 2 != 1}]">
          <input type="{{info.input_type}}" class="w-100 h-100 f-15px lh-19px pt-15px pb-15px pl-15px pr-15px pc-E0E0E0"
          placeholder="{{info.info}}" ng-model="payment_model[info.model]"></input>
        </div>
        <div class="w-100 h-24px mt-18px">
          <div class="w-24px h-100 bo-1px bor-100 bo-E0E0E0">
            <span class="f-12px lh-15px c-E0E0E0 cen">2</span>
          </div>
          <div class="w-100_51px h-100 ml-15px">
            <span class="f-15px lh-15px c-BDBDBD fw-b cen-y">결제</span>
          </div>
        </div>
        <div class="w-100 mt-18px">
          <span class="f-15px lh-23px c-BDBDBD">{{payment.ment}}</span>
        </div>
        <button class="w-100 h-75pxM0o64 bo-1px mt-18px b-we b-BDBDBD-H c-BDBDBD c-we-H" ng-click="savePayment()">
          <span class="f-15px lh-19px fw-b cen-x">입금 완료</span>
        </button>
      </div>
      <div class="w-100 mt-15px">
        <div class="w-50" ng-repeat="(contact_index, contact) in contacts track by contact_index">
          <div class="w-27px">
            <i class="f-27px lh-27px c-9E9E9E {{contact.icon}}"></i>
          </div>
          <div class="w-100_27px pl-15px">
            <span class="w-100 f-9px lh-12px c-BDBDBD o-50">{{contact.text_en}}</span>
            <span class="w-100 f-12px lh-15px c-BDBDBD fw-b">{{contact.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- APP -->
  <div class="w-300px h-450px b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-N671">
    <div class="p-a t-6px r-6px z-3">
      <i class="f-30px lh-30px c-E0E0E0 ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 pt-30px pl-22px pr-22px pb-15px">
      <div class="cen-x">
        <span class="f-24px lh-29px c-BDBDBD fw-b">제작 하기</span>
      </div>
      <div class="w-100 h-24px mt-30px">
        <div class="w-24px h-100 bo-1px bor-100 bo-E0E0E0">
          <span class="f-12px lh-15px c-E0E0E0 cen">1</span>
        </div>
        <div class="w-100_30px h-100 ml-6px">
          <span class="f-15px lh-19px c-BDBDBD fw-b cen-y">정보입력</span>
        </div>
      </div>
      <div class="w-100 mt-15px">
        <div class="w-120px h-30px bo-1px bo-E0E0E0" ng-repeat="(info_index, info) in infos track by info_index"
        ng-class="[{'mt-15px': info_index / 2 >= 1}, {'ml-15px': (info_index+1) % 2 != 1}]">
          <input type="{{info.input_type}}" class="w-100 h-100 f-12px lh-15px pl-15px pt-7px pb-7px pr-15px pc-E0E0E0"
          placeholder="{{info.info}}" ng-model="payment_model[info.model]"></input>
        </div>
        <div class="w-100 h-24px mt-30px">
          <div class="w-24px h-100 bo-1px bor-100 bo-E0E0E0">
            <span class="f-12px lh-15px c-E0E0E0 cen">2</span>
          </div>
          <div class="w-100_30px h-100 ml-6px">
            <span class="f-15px lh-19px c-BDBDBD fw-b cen-y">결제</span>
          </div>
        </div>
        <div class="w-100 mt-15px">
          <span class="f-12px lh-24px c-BDBDBD">{{payment.ment}}</span>
        </div>
        <button class="w-100 h-45px bo-1px mt-30px b-we b-BDBDBD-H c-BDBDBD c-we-H" ng-click="savePayment()">
          <span class="f-15px fw-b lh-19px cen-x">입금 완료</span>
        </button>
      </div>
      <div class="w-100 mt-15px">
        <div class="w-50" ng-repeat="(contact_index, contact) in contacts track by contact_index">
          <div class="w-18px">
            <i class="f-18px lh-18px c-9E9E9E {{contact.icon}}"></i>
          </div>
          <div class="w-100_36px pl-9px">
            <span class="w-100 f-6px lh-12px c-BDBDBD o-50">{{contact.text_en}}</span>
            <span class="w-100 f-9px lh-15px c-BDBDBD fw-b">{{contact.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-a w-100 h-100vh b-bk z-1 o-75">
  </div>
</div>
