<div class="p-f w-100 h-100vh">
  <div class="w-750px h-750px b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-X1058">
    <div class="p-a t-15px r-15px z-3">
      <i class="f-45px lh-45px c-BDBDBD ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 p-60px">
      <div class="cen-x">
        <img class="w-auto h-240px" ng-src="{{pc.image}}">
      </div>
      <div class="w-100 mt-60px">
        <span class="f-30px lh-36px c-BDBDBD fw-b cen-x">{{pc.title}}</span>
      </div>
      <div class="w-100 mt-30px">
        <span class="f-24px lh-48px c-BDBDBD t-c">
          <span class="fw-b">{{pc.description1}}</span>
          {{pc.description2}}
        </span>
      </div>
      <div class="cen-x">
        <button class="w-240px b-bk h-75px bo-3px mt-93px-N1058 b-we b-BDBDBD-H c-BDBDBD c-we-H"
        ng-repeat="(button_index, button) in pc_buttons track by button_index" ng-click="clickGo(button.url)"
        ng-class="[{'ml-30px':!$first}]">
          <div class="w-100 h-100">
            <div class="cen">
              <span class="f-24px lh-29px fw-b">{{button.button}}</span>
              <span class="f-24px lh-29px fw-b d-n-X617">(PC)</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- TABLET -->
  <div class="w-750pxM0o64 h-750pxM0o64 b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-X671 d-n-N1058">
    <div class="p-a t-12px r-12px z-3">
      <i class="f-36px lh-36px c-BDBDBD ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 p-45px">
      <div class="cen-x">
        <img class="w-auto h-240pxM0o64" ng-src="{{pc.tablet_image}}">
      </div>
      <div class="w-100 mt-45px">
        <span class="f-27px lh-36px c-BDBDBD fw-b cen-x">{{pc.title}}</span>
      </div>
      <div class="w-100 mt-21px">
        <span class="f-15px lh-30px c-BDBDBD t-c">
          <span class="fw-b">{{pc.description1}}</span>
          {{pc.description2}}
        </span>
      </div>
      <div class="cen-x">
        <button class="w-180px h-45px bo-1px mt-45px b-bk b-we b-BDBDBD-H c-BDBDBD c-we-H"
        ng-repeat="(button_index, button) in pc_buttons track by button_index" ng-click="clickGo(button.url)"
        ng-class="[{'ml-24px':!$first}]">
          <div class="w-100 h-100">
            <div class="cen">
              <span class="f-18px lh-21px fw-b">{{button.button}}</span>
              <span class="f-18px lh-21px fw-b d-n-X617">(PC)</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- APP -->
  <div class="w-300px h-450px b-we cen bor-12px bs-0_5_5__bk_30 z-2 d-n-N671">
    <div class="p-a t-6px r-6px z-3">
      <i class="f-30px lh-30px c-BDBDBD ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 pt-60px pl-22px pr-22px pb-30px">
      <div class="cen-x">
        <img class="w-auto h-90px" ng-src="{{pc.image}}">
      </div>
      <div class="w-100 mt-30px">
        <span class="f-15px lh-19px c-BDBDBD cen-x">{{pc.title}}</span>
      </div>
      <div class="w-100 mt-15px">
        <span class="f-9px lh-24px t-c c-BDBDBD">
          <span class="fw-b">{{pc.description1}}</span>
          {{pc.description2}}
        </span>
      </div>
      <div class="cen-x">
        <button class="w-120px h-45px bo-1px mt-90px b-bk b-we b-BDBDBD-H c-BDBDBD c-we-H"
        ng-repeat="(button_index, button) in pc_buttons track by button_index" ng-click="clickGo(button.url)"
        ng-class="[{'ml-15px':!$first}]">
          <div class="w-100 h-100">
            <div class="cen">
              <span class="f-15px lh-19px fw-b">{{button.button}}</span>
              <span class="f-24px lh-29px fw-b d-n-X617">(PC)</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="p-a w-100 h-100vh b-bk z-1 o-75">
  </div>
</div>
