<div class="p-f w-100 h-100vh">
  <div class="w-750px-N450 h-750px-N450 w-300px-X450 h-450px-X450 b-we cen bor-12px bs-0_5_5__bk_30 z-2">
    <div class="p-a t-15px-N450 r-15px-N450 t-6px-X450 r-6px-X450 z-3">
      <i class="f-45px-N450 lh-45px-N450 c-BDBDBD f-30px-X450 lh-30px-X450 ion-close" ng-click="clickClose()"></i>
    </div>
    <div class="w-100 h-100 p-60px-N450 pt-60px-X450 pl-22px-X450 pr-22px-X450 pb-30px-X450">
      <div class="cen-x">
        <img class="w-auto h-240px-N450 h-90px-X450" ng-src="{{sns.image}}">
      </div>
      <div class="w-100 mt-60px-N450 mt-30px-X450">
        <span class="f-30px-N450 lh-36px-N-450 c-BDBDBD fw-b f-15px-X450 lh-19px-X450 cen-x">{{sns.title}}</span>
      </div>
      <div class="w-100 mt-30px-N450 mt-15px-X450">
        <span class="w-100 f-24px-N450 lh-48px-N450 c-BDBDBD f-9px-X450 lh-24px-X450 t-c">
          <span class="fw-b">{{sns.description1}}</span>
          {{sns.description2}}
        </span>
      </div>
      <div class="cen-x">
        <button class="w-510px-N450 h-75px-N450 bo-3px-N450 mt-51px-N450 b-we b-BDBDBD-H c-BDBDBD c-we-H w-255px-X450 h-45px-X450 bo-1px-X450 mt-65px-X450"
        ng-click="clickGo(sns_button.url)">
          <div class="w-100 h-100">
            <div class="cen">
              <span class="f-24px-N450 lh-29px-N450 fw-b f-15px-X450 lh-19px-X450">{{sns_button.button}}</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="p-a w-100 h-100vh b-bk z-1 o-75">
  </div>
</div>
