<div class="w-100 h-100vh">
  <img class="p-a t-0 l-0 w-100 h-100 z-1" ng-src="{{background.cover}}" />
  <div class="p-a t-0 l-0 w-100 h-100 b-{{style.background}} o-30 z-2"></div>
  <div class="p-a t-0 l-0 w-100 h-100 z-3">
    <title-landing-dir class="p-a t-120D1080M100-N450 t-80D667M100-X450"></title-landing-dir>
    <solutions-landing-dir class="p-a t-370D1080M100-N450 t-183D667M100-X450"></solutions-landing-dir>
    <price-landing-dir class="p-a t-690D1080M100-N450 t-456D667M100-X450"></price-landing-dir>
    <button-landing-dir class="p-a t-885D1080M100-N450 t-547D667M100-X450"></button-landing-dir>
    <footer-landing-dir class="p-a t-1020D1080M100-N450 t-610D667M100-X450"></footer-landing-dir>
  </div>
</div>
