<div class="w-100">
  <div class="cen-x">
    <button class="w-240px-N450 h-75px-N450 bo-3px-N450 w-120px-X450 h-45px-X450 bo-1px-X450 bo-{{style.point1}}"
    ng-repeat="(button_index, button) in buttons track by button_index"
    ng-class="[{'ml-30px-N450 ml-15px-X450':!$first}]"
    ng-click="clickButton(button.dialog)">
      <div class="w-100 h-100 b-{{style.point1}}-H c-{{style.color_text_button}}-H c-{{style.point1}}">
        <div class="cen">
          <span class="f-24px-N450 lh-29px-N450 f-15px-X450 lh-19px-X450">{{button.button}}</span>
        </div>
      </div>
    </button>
  </div>
</div>
