<div class="w-100">
  <div class="w-100 w-100-N617X1058 t-c cen-x" ng-init="title_text_first=false;">
    <span class="w-100 f-n d-i f-24px-N1058 ls-18px-N1058 f-18px-N617X1058 ls-12px-N617X1058 f-12px-X617 lh-15px-X617 ls-6px-X617 f-sf-bold c-{{style.point1}} {{style.shadow_title}} animated v-hidden v-visible"
    in-view="title_text_first=$inview;"
    ng-class="{'fadeInUp v-visible':title_text_first==true}">
      {{titles[0].text}}
    </span>
  </div>
  <div class="w-100 w-100-N500X1000 mt-15px cen-x" ng-init="title_text_second=false;">
    <span class="w-100 f-90px-N1058 ls-18px-N1058 ls-12px-N617X1058 ls-6px-X617 c-{{style.point1}} {{style.shadow_title}} f-53px-N617X1058 f-45px-X617 f-sf-bold t-c animated v-hidden v-visible"
    in-view="title_text_second=$inview;"
    ng-class="{'fadeInUp v-visible':title_text_second==true}">
      {{titles[1].text}}
    </span>
  </div>
</div>
